frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea/
frontend/.vs/
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
backend/WebApplication1/jwtsettings.json
backend/WebApplication1/corssettings.json
backend/WebApplication1/mlapisettings.json
backend/WebApplication1/appsettings.Development.json
**/bin/
**/obj/
**/node_modules/
frontend/.env
backend/.vs/
backend/.idea/
